*.DS_Store
*.gem
*.sublime-project
*.sublime-workspace
*.ste
Gemfile.lock
working
rpsg_complete.rb

# If gitignore is not working,
# try this:
# ======================================================
# git rm -rf --cached .
# git add .
# git commit -m "remove cached files, gitignore"
# git push