*.DS_Store
*.gem
*.sublime-project
*.sublime-workspace
*.ste
*.jekyll-metadata
_MACOSX
Gemfile.lock
rpsg_complete.rb
sample.txt

# If gitignore is not working,
# try this:
# ======================================================
# git rm -rf --cached .
# git add .
# git commit -m "remove cached files, gitignore"
# git push