*.DS_Store
*.gem
*Gemfile.lock
*.sublime-project
*.sublime-workspace
*.jekyll-metadata
*.ste
*other langs
*RPS.rb
*RPS_RAW.rb
*rps.py
*bg.py
# _site
# .sass-cache

# If gitignore is not working:
# try this:
# git rm -rf --cached .
